body
  font-size: 1.2rem
  color: var(--color_letras)

.h1
  font-size: 4rem
  margin-bottom: 1em
  font-family: $letra_titulo
.h2
  font-size: 2.5rem
  margin-bottom: 0.5em
  font-family: $letra_titulo
.txt
  font-size: 1.5rem
  margin: 1rem 0
  font-family: $letra_principal
