.main
  padding-top: 13rem
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 20vh
  @media(max-width: 500px)
    padding-top: 5rem


body
  min-width: 100vw
  min-height: 100vh
  background-color: var(--background_principal)

.audio
  height: 2rem
